* {
    all: unset;
    display: revert;
    box-sizing: border-box;
}
[default-styles] {
    all: revert;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}