@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    all: unset;
    display: revert;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}
[default-styles] {
    all: revert;
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    &:hover {
        color: #FFF;
        background: #333;
      }
}
input {
    padding: 10px 20px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s ease;
    &:focus {
        color: #FFF;
        background: #333;
      }
}
h3{
font-size: 25px;
}
h5{
    font-size: 20px;
    }
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}